<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener
                class-name="org.example.utilities.Reporting" />
    </listeners>
    <test name="Functional Test">
        <parameter name="browser" value="chrome" />
        <parameter name="headless" value="false" />
        <classes>
            <class name="org.example.testCases.testClass1"></class>
            <class name="org.example.testCases.testClass2"></class>
        </classes>
    </test>
</suite>